<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="/static/css/web.css">
    
</head>
<body>
<div class="container-side">
    <!-- Сайдбар -->
    <aside>
         <img src="/static/images/logo-white.png" alt="Логотип" class="logo"> <!-- Подставьте путь к вашему изображению -->
        <nav>
            <ul>
                <li><a href="/">
                            <img src="/static/images/159619.svg" alt="Логотип" class="menu-logo">Главная</a></li>
                    <li ><a href="/search">
                            <img src="/static/images/1093184.svg" alt="Логотип" class="menu-logo">Патенты</a></li>
                    <li style=" background-color: #3e518a;"><a href="/config">
                            <img src="/static/images/155130.svg" alt="Логотип" class="menu-logo">Настройки</a></li>
                    <li><a href="/history">
                            <img src="/static/images/7090.svg" alt="Логотип" class="menu-logo">История</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="/"> </a></li>
            </ul>
        </nav>
    </aside>
    
    <!-- Основная область контента -->
    <main>
        <div id="notification" class="notification">Данные успешно получены!</div>
        <h1>Настройки подключения</h1>
         <div class="table-content">
            <form action="config" method="post">
                <label for="dbName">База данных:</label>
                <div class="settings-content">
                    <textarea id="dbName" name="dbName" rows="2" cols="80">{{ config.dbName }}</textarea>
                   
                </div>
                <label for="dbUser">Пользователь</label><br>
                <div class="settings-content">
                    <textarea id="dbUser" name="dbUser" rows="2" cols="80">{{ config.dbUser }}</textarea>
                  
                </div>
                <label for="dbPassword">Пароль</label><br>
                <div class="settings-content">
                    <textarea id="dbPassword" name="dbPassword" rows="2" cols="80">{{ config.dbPassword }}</textarea>
                  
                </div>
                <label for="dbPort">Порт</label><br>
                <div class="settings-content">
                    <textarea id="dbPort" name="dbPort" rows="2" cols="80">{{ config.dbPort }}</textarea>
                   
                </div>
                <label for="dbHost">Хост</label><br>
                <div class="settings-content">
                    <textarea id="dbHost" name="dbHost" rows="2" cols="80">{{ config.dbHost }}</textarea>
                    
                </div>
                <label for="dbHost">Документы</label><br>
                <div class="settings-content">
                    <textarea id="docPath" name="docPath" rows="2" cols="80">{{ config.docPath }}</textarea>
                    
                </div>
               <button type="submit" style="margin-left: 0px;">Сохранить</button>
        </div>


    

    </main>
</div>
<script src="/static/js/search.js"></script>
</body>
</html>